extends layout

block content
  h1= 'Learning NodeJS how to conbined JQuery ajax'
  form#loginForm
    | userId:
    input#userId(type='text')
    br
    |   	userMessage
    input#userMessage(type='text')
    br
    input#submit_button(type='button', name='submit_button', value='submit')
    p guest #{display}
script=(src='./javascripts/login.js')